<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
     
      <img src="/portada/gemelas.png"  width="40" height="40" />

     Liga Gemelas
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/Mixta">Mixto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Femenil">Femenil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sub19">Sub-19</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/jugadores">Jugadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/equipos">Equipos</a>
        </li>
        
      </ul>
    </div>
  </nav>